html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: sans-serif;
    font-weight: lighter;
}

h3 {
    font-weight: 500;
    font-size: 30px;
    scroll-padding-top: 8%;
    margin-bottom: 10px;
    padding-top: 10%;
}

h4 {
    font-weight: 300;
    font-size: 15px;
}

hr {
    width: 30px;
    height: 3px;
    Background: black;
    border: 0;
    margin: 0 auto 40px auto;
}

p {
    width: 60vw;
    margin: 0 auto 0 auto;
    text-align: justify;
}

li {
    list-style-type: none;
}

.fa-bars {
    display: none;
}

body.nontouch nav a:hover {
    background: yellow;
}

/* Image container --------------------------------------- */

.img-container {
    flex-grow: 1;
    flex-wrap: wrap;
}

.images {
    background-image: url('../images/Logo.png');
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
}

.container .box {
    width: 20vw;
    text-align: center;
    line-height: 100vh;
    flex-grow: 1;
    background-size: contain;
    background-position: center;
    background-color: white;
    transition: 2s;
}

h2 {
    margin: 0;
    padding: 10px;
    line-height: 100vh;
    font-size: 2em;
    background: rgb(0, 0, 0);
    transition: .5s;
    letter-spacing: 2px;
    text-align: left;
}

h2 span {
    background: rgba(255, 255, 255, 0);
    width: 100%;
    transition: 2s;
    color: #fff;
    padding: 25px 20px;
    text-transform: uppercase;
}

.box:hover h2 span {
    color: black;
    background: rgba(255, 255, 255, .8);
    letter-spacing: 5px;
}

.box:hover h2 {
    background: rgba(0, 0, 0, 0);
    transition: 2s;
}

.box:hover {
    width: 200vw;
}

.box {
    background-attachment: fixed;
    background-image: url('../images/Logo.png');
}

.wrapper {
    width: 100vw;
    min-height: 100%;
    flex-direction: column;
    align-items: stretch;
    display: flex;
}

/* menu ---------------------------------------------------- */

header img {
    float: left;
    border-radius: 20px;
    display: flex;
    flex-shrink: 0;
    width: 150px;
    margin: 20px 20px;
}

header {
    width: 100%;
    min-height: 5vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: black;
    z-index: 0;
    flex-shrink: 0;
}

header nav {
    float: right;
    margin: 10px 50px 0 0;
    /* list-style-type: none;	
    margin:0;
    padding:0;
    display: flex;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: right;
    padding: 0px 0px 20px; */
}

.menu {
    display: flex;
    justify-content: right;
}

.menu a {
    color: white;
    text-decoration: none;
    flex-shrink: 1;
    flex-direction: row;
    padding-top: 5px;
}

.menu a:hover {
    padding-top: 10px;
}

.item {
    margin: 0.5em;
    padding: 0.5em;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    flex-shrink: 1;
}

/* Sections ------------------------------------------- */

section {
    width: 100vw;
    height: 100vh;
    background-color: white;
    text-align: center;
    /* flex-direction: column;
        align-items: stretch;
        display: flex; */
}

/* Section About ------------------------------------------- */

#about img {
    width: 200px;
}

/* Section Offer ------------------------------------------- */

#offer {
    height: 200vh;
}

#work {
    width: 900px;
    margin: 0 auto 0 auto;
}

#work img {
    width: 100%;
    margin: 0 auto 0 auto;

    
}

#work img:hover {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 2s;
}

#work ul {
    padding: 0;
}

#work ul li {
    display: flex;
    width: 40%;
    float: left;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

/* Section Contact ------------------------------------------- */

#contact {
    height: 120vh;
}

form input, textarea {
    font-family: sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    outline: none;
}

form {
    width: 100%;
}

form input {
    width: 40vw;
    height: 8vh;
}

form textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    width: 40vw;
    height: 40vh;
    resize: none;
    padding-top: 10px;
}

.input_text {
    padding-left: 10px;
}

.button {
    background-color: grey;
}

/* Footer ------------------------------------------ */

footer {
    width: 100vw;
    background-color: black;
    color: white;
    padding: 20px 0px;
}
p {
    text-align: center;
}

.wapper, footer {
    flex-shrink: 0;
}

/* Media Queries --------------------------------------- */

/* tablets */

@media screen and (max-width: 1024px) {
    p {text-align: justify;}
    header img {
        width: 100px;
    }
    header {
        height: inherit;
    }
    ul.menu {
        margin-top: -15px;
    }
    .item {
        font-size: 15px;
    }
    h2 {
        font-size: 40px;
        line-height: 150vh;
    }
    h3 {
        padding-top: 15%;
    }
    #work {
        width: auto;
    }
    #work ul li {
        width: 100%;
        float: none;
        margin-left: 0;
    }
    #work ul li:last-child {
        padding-bottom: 20%;
    }
    #work img {
        width: 45%;
        height: auto;
    }
    /*#offer.work img  {
        width: auto;
    }
    
    #offer.work img {
        width: 100%;

    }
    /* .box:nth-child(1) {
        width: 1024px; */
}

/* mobiles */

@media screen and (max-width: 480px) {
    header img {
        width: 80px;
    }
    .fa-bars {
        color: white;
        font-size: 40px;
        display: inline-block;
        width: 100%;
        margin: 24px 0 0 211px;
    }
    .fa-bars:hover {
        opacity: 0.5;
    }
    h3 {
        padding-top: 15%;
    }
    .item {
        font-size: 15px;
    }
    header {
        height: 15vh;
        background-color: black;
    }
    h2 {
        font-size: 20px;
        line-height: 60vh;
        padding: 5px;
    }
    header nav {
        float: none;
        margin: 0;
    }
    header nav ul {
        height: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    header nav ul.open {
        height: auto;
    }
    header nav ul li {
        width: 100%;
        padding: 5px 0;
        margin: 0;
        font-size: 11px;
        border-top: 1px solid #dddddd;
    }
    header nav ul li:hover {
        background-color: #eeeeee;
    }
    #work img {
        width: 50%;
    }
    /*offer_pictures {
        width: auto;
    }
    offer_pictures ul li {
        width: 100%;
    }