html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: sans-serif;
    font-weight: lighter;
}
h3 { font-weight: 500;font-size: 30px; scroll-padding-top: 8%; margin-bottom: 10px;}
h4 {font-weight: 300;font-size: 15px;}
hr {width:30px; height: 3px; Background:black; border:0; margin:0 auto 40px auto; }
p {width: 60vw; margin: 0 auto 0 auto;}

/* Image container --------------------------------------- */
.img-container {
    flex-grow: 1;
    flex-wrap: wrap;
}
.container {
    width:100vw;
    height:100vh;
    display:flex;
    box-sizing: border-box;
    
}
.container .box {
    width: 20vw;
    text-align: center;
    line-height: 100vh;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    transition: 2s;
}
h2 {

    margin:0;
    padding: 10px;
    line-height: 100vh;
    font-size: 2em;
    background: rgb(0, 0, 0);
    transition: .5s;
    letter-spacing: 2px;
    text-align: left;
}
h2 span {
    background: rgba(255,255,255,0);
    width: 100%;
    transition: 2s;
    color: #fff;
    padding: 25px 20px;
    text-transform: uppercase;
}

.box:hover h2 span {
    color:  black;
    background: rgba(255,255,255,.8);
    letter-spacing: 5px ;

}
.box:hover h2 {
    background: rgba(0,0,0,0);
    transition: 2s;
}
.box:hover {
    width: 200vw;
}
.container .box:nth-child(1)
{
    _background-color: rgb(128, 128, 128); 

    background: url('images/Logo.png');
    background-attachment: fixed;
}
/* .container .box:nth-child(2)
{
    background: url('images/Bildschirmfoto\ 2020-02-06\ um\ 11.16.45.png');
   _background-color: rgb(112, 112, 112); 
}
.container .box:nth-child(3)
{
    background: url('images/Bildschirmfoto\ 2020-02-06\ um\ 11.16.45.png');
   _background-color: rgb(105, 104, 104); 
}
.container .box:nth-child(4)
{ background: url('images/Bildschirmfoto\ 2020-02-06\ um\ 11.16.45.png');
    _background-color: rgb(90, 90, 90); 
 }
.container .box:nth-child(5)
{
    background-color: rgb(56, 56, 56);
} */
.wrapper {
    width:100vw;
    min-height: 100%;
    flex-direction: column;
    align-items: stretch;
    display: flex;
}
main {
   
   
}
/* menu ---------------------------------------------------- */
nav{
    width:100vw;
    position: fixed;
    display: flex;
    z-index: 1;
    flex-direction: row;
	background-color: black;  
	padding: 20px 0px;
    justify-content: center;
}
#logo {
    width: 40px;
    float: left;
    margin: 10px 0 0 40px;
  
}
#logo img{
    width: 100% ;
 
}
.menu li a{
    color: white;
    text-decoration: none;
}
.menu li a:hover {
    color: rgb(128, 128, 128);
}

ul {
    list-style-type: none;	
    margin:0;
    padding:0;
    display: flex;
    }
    
.item {
    margin: 0.5em;
    padding: 0.5em;
    background-color: black;
    border: 0.1px solid white;
    }
.item:hover {
        color: rgb(128, 128, 128);
        border: 0.1px solid rgb(128, 128, 128);
        padding-top: 5px;
    }
     /* Sections ------------------------------------------- */
 section {
        width: 100vw;
        height: 100vh;
        background-color: white;
        text-align: center;
        /* flex-direction: column;
        align-items: stretch;
        display: flex; */
    }
     /* Section About ------------------------------------------- */

 #about {

 }    
 #about img {
    width: 200px;    
}
/* #about p {
    _width:700px;
   _margin: 0 auto 0 auto;
} */
#about img:hover {
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -o-transform: scale(1,1);
}

     /* Section Offer ------------------------------------------- */
#offer_pictures {
    display: flex;
    flex-direction: row;
    padding: 60px;
    justify-content: space-evenly;   
}
#offer_pictures img:hover {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 2s;

}


/* Section Contact ------------------------------------------- */
form input,textarea {
    font-family:sans-serif;
    font size: 15px;
    margin-bottom: 10px;
    outline: none;
}

form input {
    width: 40vw;
    height: 8vh;
}
form textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    width: 40vw;
    height: 40vh;
    resize: none;
    padding-top: 10px;

}
.input_text {
    padding-left: 10px;
}
.button {
    background-color: grey;
}
/* .form button {
    width:10%;
    background-color: rgb(201, 201, 201);
    border-radius: 3px;
}

.form button:hover{
    background-color: rgb(155, 155, 155);

} */
    /* Footer ------------------------------------------ */
footer {
    width:100vw;
    background-color: black;
    color: white;
    padding: 20px 0px;
    text-align: center;
}
.wapper, footer {
    flex-shrink: 0;
}